<?xml version="1.0" encoding="utf-8" ?>

<!--

// THE BELOW HEADER MAY NOT BE REMOVED OR MODIFIED
//
// This file is part of SLRS (Source Logging and Reporting Services).
//
// SLRS is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// SLRS is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with SLRS.  If not, see <http://www.gnu.org/licenses/>.
//
// THE ABOVE HEADER MAY NOT BE REMOVED OR MODIFIED

-->

<!--
  Set your database details in the connection string below
-->

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SourceLoggingDaemon.Properties.Settings.csSLRS" connectionString="server=localhost;user id=slrstestuser;Password=passwordHere;persist security info=True;database=sourceloggingdaemon;charset=utf8"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>